    body {
        background-color: white;
    }

    img {
    height: 100%;
    object-fit: contain;
    display:block;
    }

    .main_box{
        height: auto;
        background:white;
        margin:15px;
        margin-right: 5px;
        padding: 15 px;
    }

    @media all and (min-width: 768px) {
        body {
            background: lightgray;
        }
    }

    .side_box{
        height:auto;
        background:white;
        margin :15px;
        margin-right: 5px;
        padding: 15px
    }

    .selected_box{
        border:2px solid teal;
    }
